$radius: 4px;

.category-title {
  background-color: $black;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
  color: $white;
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0.5rem 1rem;
}

.toc {
  background-color: lighten($black, 8%);
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
  color: $white;
  margin-bottom: 2rem;
  margin-top: 0;
  overflow: hidden;
  padding: 1rem 2.5rem;

  .row {
    padding-bottom: 0.4rem;
    position: relative;
  }

  .row-link {
    color: rgba($white, 0.8);
    font-weight: 100;
    text-decoration: none;
    transition: all 0.1s linear;

    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }
}

.back-to-toc {
  display: none;

  @include media-width(from, $container-width) {
    color: $black;
    background-color: darken($ash, 2%);
    bottom: 1rem;
    display: block;
    position: fixed;
    right: 1rem;
    transition: all 0.1s linear;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;

    &:hover {
      background-color: $black;
      color: $white;
    }
  }
}

