$margin: 0.14rem;

.pagination {
  list-style: none;
  margin: 0;
  overflow: auto;
  padding: 2em 0 0;
}

[class*=page-link] {
  @include size(3rem);
  border-radius: 50%;
  border: 1px solid $link-color;
  font-weight: 100;
  padding-top: 0.7rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s;

  &:hover {
    background-color: $link-color;
    border-color: transparent;
    color: $white;
  }

  &:active {
    background-color: darken($link-color, 10%);
    border-color: transparent;
  }
}


.previous-page-link {
  float: right;
  margin-right: $margin;
}

.next-page-link {
  float: left;
  margin-left: $margin;
}
