$margin: 0.14em;

.pagination {
  list-style: none;
  margin: 0;
  overflow: auto;
  padding: 2em 0;
}

[class*=page-link] {
  @extend %button;
  font-weight: 100;
}

.next-page-link {
  float: right;
  margin-right: $margin;
}

.previous-page-link {
  float: left;
  margin-left: $margin;

  &:before {
    transform: skew($skew-degree);
  }
}
