article[class*=post] {
  $image-outdent: 5%;
  $margin: 1.5em;

  figure {
    margin: $margin 0;

    @include media-width(from, $container-breakpoint) {
      margin: ($margin * 2) 0 ($margin * 1.5);
    }
  }

  figcaption {
    color: $gray;
    font-size: 0.85rem;
    font-style: italic;
    font-weight: 100;
    margin-top: 0.5em;
  }

  img {
    border-radius: $border-radius;
    box-shadow: 0 0 0 1px rgba($black , 0.05);
    margin-left: $image-outdent * -1;
    max-width: 100% + ($image-outdent * 2);
  }

  strong {
    font-weight: 500;
  }

  ul,
  ol {
    padding: 0;
    list-style-type: none;
  }

  blockquote {
    border-left: 2px solid $gray;
    font-style: italic;
    margin: 2em 0;
    padding-left: 0.8em;
  }
}

.post-content {
  font-weight: 300;

  h3 {
    margin: 2rem 0 0;
  }

  p {
    margin: 0.8rem 0;
  }

  a {
    font-style: italic;

    &:active {
      color: $link-active-color;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
      color: $link-hover-color;
    }

    &:link {
      color: $link-color;
    }

    &:visited {
      color: $link-visited-color;
    }
  }

  li {
    position: relative;

    &::before {
      color: darken($ash, 20%);
      content: "–";
      left: -1em;
      position: absolute;

      @include media-width(from, $container-width) {
        left: -1.2em;
      }
    }
  }

  pre {
    $offset: 3rem;

    @include media-width(from, $container-width + 10) {
      margin-left: -$offset;
      padding-left: $offset;
      width: calc(100% + #{2 * $offset});
    }
  }
}

.footnotes {
  border-top: 1px solid $ash;
  font-size: 0.9em;
}

.swift-version {
  padding: 1em;
  border-radius: 3px;
  font-size: 0.85em;
  background-color: mix(lighten($casablanca, 35%), yellow, 80%);
  display: block;
}
