.post-category {
  position: relative;
  margin-bottom: 0.5rem;

  &::after {
    border-bottom: 1px solid $ash;
    bottom: 0;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
  }
}

.post-category-span {
  background: $ash;
  font-size: 0.8em;
  font-weight: 300;
  margin-left: -0.3rem;
  padding: 0 0.5em;
  position: relative;
  text-transform: uppercase;

  &::before {
    $gap: 5%;
    background: $ash;
    height: 1.8em;
    left: $gap * -1;
    width: 100% + ($gap * 2);
  }
}
