.articles {
  .article-container {
    $padding: 5em;
    border-bottom: 3px solid rgba($brand-color, .1);
    padding-bottom: $padding;
    padding-top: $padding;

    @include media($narrow-column) {
      padding-top: $padding / 2;
      padding-bottom: $padding / 2;
    }

    &:last-of-type {
      border-bottom: none;
    }

    &._adjusted {
      margin-top: 3.8em;
    }
  }
}
