%animated {
  animation-fill-mode: both;
}

%bounce-in-up {
  @extend %animated;
  animation-name: bounce-in-up;
}

%shake {
  @extend %animated;
  animation-name: shake;
  animation-duration: 1s;
  animation-timing-function: ease;
}

%pulse {
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

$initial-bounce-overshoot: -40px;

@keyframes bounce-in-up {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }

  50% {
    opacity: 1;
    transform: translateY($initial-bounce-overshoot);
  }

  70% {
    transform: translateY($initial-bounce-overshoot / -2);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }

  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

@keyframes pulse {
  0%, 50%, 25% {
    transform: scale(1);
  }

  15%, 35% {
    transform: scale(1.1);
  }
}
