@import 'variables';
@import 'mixins/**';
@import 'extends/**';
@import 'typography';
@import 'forms';
@import 'tables';
@import 'lists';
@import 'buttons';
@import 'svg-icons';

[data-role=content] {
  @extend %narrow-container;

  .wf-loading & {
    visibility: hidden;
  }

  @include media($narrow-column) {
    padding: 1em;
    font-size: .8em;
  }
}

.svg-icon {
  @include size(14px);
  vertical-align: top;
  margin-right: .2em;
}
