@import 'variables';
@import 'mixins/flash';
@import 'extends/button';
@import 'extends/clearfix';
@import 'extends/hide-text';
@import 'extends/layout';
@import 'typography';
@import 'forms';
@import 'tables';
@import 'lists';
@import 'buttons';
@import 'svg-icons';

[data-role=content] {
  @extend %narrow-container;

  .wf-loading & {
    visibility: hidden;
  }

  @include media($narrow-column) {
    padding: 1em;
    font-size: .8em;
  }
}
