button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  strong {
    pointer-events: none;
  }
}

[data-role=button] {
  strong {
    font-weight: 500;
  }
}
