// Typography
$sans-serif: 'fira-sans', 'Helvetica Neue', $helvetica;
$serif: $georgia;
$monospace: 'fira-mono', 'Consolas', 'Courier', 'monospace';
$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// Sizes
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$unitless-line-height: $base-line-height / ($base-line-height * 0 + 1);
$header-line-height: $base-font-size * 1.25;
$base-border-radius: em(5);

// Colors
$blue: #477DCA;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;
$emerald: #44C55F;
$casablanca: #FAAD4C;
$red-orange: #FC3A32;
$red-casablanca: mix($casablanca, $red-orange);

// Background Color
$base-background-color: #FFF;

// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $blue;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: #FFF;
$hover-button-color: $hover-link-color;

// Border color
$base-border-color: $light-gray;

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: 0 0 3px rgba($blue, .8);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;

// Layout
$content-width: 700px;

// Misc
$base-border: 1px solid rgba(#000, .1);
