.chapter {
  h3 {
    border-bottom: 1px solid rgba(#000, .1);
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 1em;
    margin-top: 2em;
    padding-bottom: .2em;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .article-header {
    margin: 4em 0 2em;
  }

  .article-title {
    color: rgba(#000, .5);
    font-size: 1.4em;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 1em;
  }

  .download-playground {
    @extend %button;
    margin-top: .5em;
    border-color: $jungle-green;
    color: $jungle-green;

    @include media($wide-column) {
      font-size: .8em;
    }

    .svg-icon {
      vertical-align: bottom;
    }

    &:hover {
      background: $jungle-green;

      .icon-path {
        fill: #FFF;
      }
    }

    .icon-path {
      fill: $jungle-green;
    }
  }
}
