.chapter {
  h3 {
    border-bottom: 1px solid rgba(#000, .1);
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 1em;
    margin-top: 2em;
    padding-bottom: .2em;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .article-header {
    margin: 2em 0;

    @include media($wide-column) {
      margin: 4em 0 2em;
    }
  }

  .article-title {
    color: rgba(#000, .5);
    display: inline-block;
    font-size: 1.4em;
    font-weight: 300;
    margin-right: 1em;
    text-transform: uppercase;

    @include media($wide-column) {
      vertical-align: bottom;
    }

    @include media($narrow-column) {
      margin-bottom: .5em;
    }
  }

  .download-playground {
    @extend %button;

    @include media($wide-column) {
      font-size: .8em;
      float: right;
    }

    .svg-icon {
      vertical-align: bottom;
    }
  }
}
