.donation-modal-content {
  $icon-width: rem(28);
  .bitcoin {
    margin: 1.5em 0;

    .bitcoin-title {
      font-weight: 500;
      margin-bottom: .6em;
    }

    .svg-icon {
      @include size(1.8em 1.9em);
      vertical-align: text-bottom;

      .icon-path {
        fill: $casablanca;
      }
    }
  }

  .fiat {
    border-top: 1px solid $base-border-color;
    padding-top: 1em;
    margin-bottom: 1em;
  }

  .wallet-id {
    background: darken($base-background-color, 2%);
    border-radius: $base-border-radius;
    display: inline-block;
    line-height: 1.6;
    padding: .2em 1em;
    text-align: center;
    width: 100%;
  }

  .note {
    .js-disabled & {
      display: none;
    }
  }
}
