.email-form {
  @include row();
  padding-top: 1em;
  position: relative;

  input {
    display: inline-block;
  }

  [type=email] {
    @include media($wide-column) {
      @include span-columns(7);
    }

    @include media($narrow-column) {
      margin-bottom: 1.5em;
    }
  }

  .hidden-field {
    @include size(0);
    margin: 0;
    opacity: 0;
    position: absolute;
    visibility: hidden;
  }

  .submit-button {
    @include media($wide-column) {
      @include span-columns(5);
    }

    @include media($narrow-column) {
      width: 100%;
    }
  }
}
