footer {
  @include linear-gradient(darken(#FFF, 2%), #FFF);
  border-top: 1px solid $light-gray;
  color: rgba(#000, .4);
  font-size: .9em;
  margin-top: 4em;
  padding: 2em 1em;

  [data-role=content] {
    @extend %very-narrow-container;
    text-align: center;
  }
}

.donate-link {
  @extend %button;
  @include button-with-color($matcha);
  font-size: 1.1em;
  width: 100%;
  max-width: rem(370);
  margin: 1em 0;

  .js-disabled & {
    display: none;
  }
}
