$large-header: new-breakpoint(rem(700));

.main-header {
  @include linear-gradient(35deg, $lochmara, $bright-turquoise);
  overflow: hidden;
  position: relative;

  .swift-logo {
    @include position(absolute, -28% 12% 0 0);
    @include size(60% 130%);
    opacity: .1;
    z-index: 0;

    .icon-path {
      fill: white;
    }
  }

  .content {
    @extend %narrow-container;
    font-size: .7em;
    position: relative;
    text-align: center;

    @include media($large-header) {
      font-size: 1em;
      text-align: left;
    }


    .main-title {
      color: #FFF;
      display: inline-block;
      font-size: 4em;
      letter-spacing: .02em;
      padding: .8em 0;
      text-shadow: 0 1px 2px rgba(#000, .2);
      text-transform: uppercase;
      z-index: 1;
      position: relative;

      @include media($large-header) {
        padding: 1em 0;
      }

      .wf-loading & {
        visibility: hidden;
      }

      span {
        display: block;
        font-size: .68em;
        font-weight: 300;
        letter-spacing: 0;
        line-height: .6;
        margin-bottom: .2em;
        text-transform: none;
      }
    }
  }
}
