.intro-container {
  @include linear-gradient(#FFF, rgba(#000, .02));
  background: lighten(black, 97%);
  border-bottom: 1px solid $light-gray;

  .intro {
    margin-bottom: 0;
    padding: 2em 1em;
  }
}
