.intro-container {
  @include linear-gradient(#FFF, darken(#FFF, 2%));
  border-bottom: 1px solid $light-gray;

  .intro {
    margin-bottom: 0;
    padding: 3em 1em;
    color: #555;

    p {
      margin: 0;
    }
  }

  .tagline {
    font-weight: 500;
    font-size: 1.3em;
    margin-bottom: .5em;
  }
}
