.intro-container {
  @include linear-gradient(#FFF, darken(#FFF, 2%));
  border-bottom: 1px solid $light-gray;
  padding: 3em 0;

  @include media($narrow-column) {
    padding: 1em 0;
  }

  .intro {
    margin-bottom: 0;
    color: #555;

    p {
      margin: 0;

      @include media($narrow-column) {
        font-size: .9em;
      }
    }
  }

  .tagline {
    font-weight: 500;
    font-size: 1.3em;
    margin-bottom: .5em;
  }
}
