$wide-column: new-breakpoint($content-width);
$narrow-column: new-breakpoint(content-width ($content-width - 1));

.posts {
  @extend %narrow-container;

  @include media($narrow-column) {
    padding: 1em;
    font-size: .8em;
  }

  .wf-loading & {
    visibility: hidden;
  }

  h3 {
    border-bottom: 1px solid rgba(#000, .1);
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 1em;
    margin-top: 2em;
    padding-bottom: .2em;

    &:first-of-type {
      margin-top: 0;
    }
  }

  aside {
    border-top: 1px solid rgba(#000, .1);
    color: rgba(#000, .2);
    font-size: 1.8em;
    font-weight: 300;
    padding: 3em 1em 4em;
    text-align: center;
  }

  .post-header {
    margin: 4em 0 2em;
  }

  .post-title {
    color: rgba(#000, .5);
    font-size: 1.4em;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 1em;
  }

  .download-playground {
    @extend %button;
    background: #FFF;
    border-radius: $base-border-radius;
    border: 1px solid $blue;
    color: $blue;
    display: inline-block;
    font-size: .8em;
    font-style: normal;
    font-weight: normal;
    margin-top: .5em;
    padding: .8em 1em .6em;
    vertical-align: bottom;

    &:hover {
      background: $blue;
    }
  }
}
