.stay-updated {
  %large-text {
    color: rgba(#000, .4);
    font-size: 1.8em;
    font-weight: 300;
  }

  .to-be-continued {
    @extend %large-text;
    border-top: $base-border;
    border-bottom: $base-border;
    display: block;
    padding: 2em 1em;
    text-align: center;
    margin-bottom: 1em;
    position: relative;

    &:after {
      $size: 20px;
      @include size($size);
      @include transform(rotate(45deg));
      background: #FFF;
      border-bottom: $base-border;
      border-right: $base-border;
      bottom: -($size / 2) - 1px;
      content: '';
      display: block;
      left: calc(50% - #{$size / 2});
      position: absolute;
    }
  }

  .social-buttons {
    @extend %very-narrow-container;
    padding: 2em 1em 4em;
    text-align: center;

    @include media($narrow-column) {
      width: 100%;
    }

    @include media($wide-column) {
      margin: 0 auto;
    }

    [data-role=button] {
      display: block;
      margin-bottom: 1em;
      position: relative;
      width: 100%;

      .svg-icon {
        margin-right: .6em;
      }
    }
  }

  .subscribe-link {
    .js-disabled & {
      display: none;
    }
  }

  .rss-link {
    @extend %orange-button;
  }

  .twitter-link {
    @extend %button;
    @include button-with-color($twitter-blue);

    .svg-icon {
      @include size(18px);
      margin-right: .1em;
    }
  }
}
