<div class="donation-modal" data-role="donation-modal">
  <div class="modal-content">
    <label class="modal-close" data-role="close"></label>
  </div>
</div>

<div class="modal-overlay" data-role="overlay"></div>
