<footer>
  <div data-role="content">
    Want to contribute? Here's the <a href="http://github.com/kaishin/learn-swift">source code</a>.

    <p>
      Designed &amp; maintained by <a href="http://redalemeden.com">Reda Lemeden</a>.
    </p>

    <%= partial "social/donation_link" %>
    <%= partial "donation_modal" %>
  </div>
</footer>
