<header class="main-header">
  <div class="content">
    <a href="/" class="logo">
      <h1 class="logotype">Learn <%= image_tag("mark.svg", alt: "Arrow mark") %> Swift</h1>
    </a>
  </div>
</header>
