<div class="intro-container">
  <section class="intro" data-role="content">
    <h2 class="tagline">
      <%= data.seo.description %>
    </h2>
    <p>
    Each section can be downloaded as a Playground (requires <em>OSX</em> and <em>Xcode 6 Beta 4</em>).<br /> Subscribe for updates using <a href="#" data-trigger="subscription-modal">email</a> / <a href="<%= data.seo.site_url %>/feed">RSS</a> / <a href="https://twitter.com/learnswiftdotco">Twitter</a>.
    </p>
  </section>
</div>
