<div class="intro-container">
  <p class="intro" data-role="content">
    A no-frills introduction to Swift for busy and/or curious people. Each section can be downloaded as a Playground (requires OSX and Xcode 6). Subscribe for updates using <a href="#" data-trigger="subscription-modal">email</a>, <a href="#">RSS</a> or <a href="#">Twitter</a>.
  </p>
</div>
