<section class="quick-navigation">
  <ol>
    <% blog.articles.reverse.each do |article| %>
      <li>
        <%= link_to article.title, "##{article.slug}-article" %>
      </li>
    <% end %>
  </ol>
</section>
