<section class="social-links">
  <ul>
    <li>
      <%= partial "social/subscribe_link" %>
      <%= partial "subscription_modal" %>
    </li>
    <li>
      <%= partial "social/rss_link" %>
    </li>
    <li>
      <%= partial "social/twitter_link" %>
    </li>
  </ul>
</section>
