<div class="subscription-modal" data-role="subscription-modal">
  <div class="modal-content">
    <label class="modal-close" data-role="close"></label>
    <h3>Subscribe</h3>
    <%= partial "newsletter_form" %>
  </div>
</div>

<div class="modal-overlay" data-role="overlay"></div>
