<div class="subscription-modal" data-role="subscription-modal">
  <div class="modal-content">
    <label class="modal-close" data-role="close"></label>
    <p class="prompt">Enter your email address. No spam, promise.</p>
    <%= partial "email_form" %>
  </div>
</div>

<div class="modal-overlay" data-role="overlay"></div>
