<div class="subscription-modal" data-role="subscription-modal">
  <div class="subscription-modal-content">
    <label class="modal-close" data-role="close"></label>
    <%= partial "subscription" %>
  </div>
</div>

<div class="modal-overlay" data-role="overlay"></div>
