<header class="main-header">
  <section class="header-content" data-role="container">
    <div class="logo">
      <a href="/" class="link">
        <img src="/images/logo.png" alt="Swiftbits logo" class="logo-image" />
      </a>
    </div>
    <div class="intro">
      <div class="intro-content">
        <a href="/" class="link">
          <span class="main-heading">Swiftbits</span>
        </a>
        <p class="main-description">Swift recipes, snippets, and resources.</p>
      </div>
    </div>
  </section>
</header>
