<header class="main-header">
  <section class="header-content" data-role="container">
    <div class="logo">
      <a href="/" class="link">
        <img src="/images/logo.png" alt="Swiftbits logo" class="logo-image" />
      </a>
    </div>
    <div class="intro">
      <div class="intro-content">
        <a href="/" class="link">
          <span class="main-heading">Swiftbits</span>
        </a>
        <p class="main-description">Swift recipes, snippets, and resources.</p>
      </div>
    </div>
  </section>
  <nav class="main-nav">
    <ul class="link-list" data-role="container">
      <li class="link-item">
        <a href="/">Home</a>
      </li>
      <li class="link-item">
        <a href="/learn-swift">Learn Swift</a>
      </li>
    </ul>
  </nav>
</header>
