<form class="newsletter-form" action="https://feed.press/e/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feed.press/e/mailverify?feed_id=swiftbits', 'popupwindow', 'scrollbars=yes,width=550,height=400');return true">
  <p>Stay updated via email...</p>
  <div class="form-inputs">
    <input type="text" name="email" placeholder="me@example.com">
    <input type="hidden" value="swiftbits" name="feed_id">
    <input type="submit" value="Subscribe">
  </div>
  <p>...or follow Swiftbits on <a href="{{ site.twitter }}">Twitter</a>.</p>
</form>
