{% if post %}
  {% assign content = post.content %}
{% else %}
  {% assign post = page %}
{% endif %}

<article class="post">
  <header class="post-header">
    <div class="post-metadata">
      <time datetime="{{ post.date | data_to_xmlschema }}">
        {{ post.date | date: "%b %-d, %Y" }} – {{ post.category | replace: "-", " " | upcase }}
      </time>
    </div>
    <h1 class="post-title">
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
        {{ post.title }}
      </a>
    </h1>
  </header>

  <section class="post-content">
    {% if post.tags contains "tutorial" %}
      {% if post.swift %}
        {% assign version = post.swift %}
      {% else %}
        {% assign version = site.latestSwift %}
      {% endif %}

      <p class="swift-version">
        The code below has been compiled using <strong>Swift {{ version }}</strong>
      </p>
    {% endif %}
    {{ content }}
  </section>
</article>
