<article class="post">
  <header class="post-header">
    <h1 class="post-title">
      <a class="post-link" href="{{ include.url | prepend: site.baseurl }}">
        {{ include.title }}
      </a>
    </h1>

    <div class="post-metadata">
      <time datetime="{{ include.date | data_to_xmlschema }}">
        {{ include.date | date: "%b %-d, %Y" }}
      </time>
    </div>
  </header>

  <section class="post-content">
    {% if include.swift %}
      <p class="swift-version">The code below has been compiled using <strong>Swift {{ include.swift }}</strong></p>
    {% endif %}
    {{ include.body }}
  </section>
</article>
