footer {
  $padding: 1.8rem;
  background-image: linear-gradient(35deg, $lochmara, $turquoise);
  color: rgba($white, 0.7);
  display: block;
  font-style: 0.9rem;
  padding-bottom: $padding;
  padding-top: $padding;
  position: relative;
  text-align: center;

  .copyright {
    font-family: "Helvetica Neue", "Arial", sans-serif;
  }

  a {
    color: $white;

    &:hover {
      color: rgba($white, 0.3);
    }
  }

  .container {
    @extend %container;
  }
}
