$margin: 0.14rem;


.paginator {
  height: 5rem;
}
.pagination {
  list-style: none;
  margin: 0;
  padding: 2em 0 0;
}

[class*=page-link] {
  @include size(3rem);
  background: linear-gradient(#ffffff, #defaff);
  border: 1px solid #bbe7ef;
  border-radius: 50%;
  font-size: 1.5rem;
  box-shadow: 0 2px 2px rgba($black, 0.05);
  padding-top: .3rem;
  padding-left: .1em;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    background: linear-gradient($link-color, mix($link-color, $white));
    border-color: mix($link-color, $black, 90%);
    color: $white;
  }
}


.previous-page-link {
  float: right;
  margin-right: $margin;
}

.next-page-link {
  float: left;
  margin-left: $margin;
  padding-left: 0;
}
