.post-header {
  border-bottom: 1px solid $tertiary-color;
  margin-bottom: 2rem;
  padding-bottom: 0.8rem;
}

.post-title {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3;
  margin: 0.3rem 0 0;

  @include media-width(from, $container-breakpoint) {
    font-size: 1.6rem;
  }
}

.post-link {
  font-family: "ingra-condensed", $sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  text-transform: uppercase;

  &,
  &:link,
  &:visited {
    color: $black;
    text-decoration: none;
  }

  &:hover {
    color: $link-hover-color;
  }
}

[class*=metadata] {
  color: $gray;
  font-size: 0.9rem;
}

.post-metadata {
  margin-top: 0.2rem;

  [role=img] {
    display: inline-block;
    margin-bottom: 0.08em;
    width: 2.5rem;
  }
}

[class*=tag-list] {
  display: inline-block;
  list-style: none;
  margin: 0;
}

.tag-label {
  display: inline-block;

  &::after {
    color: $tertiary-color;
    content: "/";
  }

  &:last-of-type::after {
    content: "";
  }
}

.separator {
  color: $tertiary-color;
}
