@mixin style-reading-time($speed, $start, $end: $start) {
  @include assert(wtr-is-number($start), "First argument should be a number");
  @include assert(wtr-is-number($end), "Second argument should be a number");
  @include assert(wtr-is-string($speed), "Third argument should be a string");

  @for $i from $start through $end {
    [data-reading-time="#{$i}"] {
      @extend %data-reading-#{$speed};
    }
  }
}

$fill-color: $link-color;
$unfill-color: $tertiary-color;

[data-reading-time] {
  fill: $fill-color;
  margin-left: 0.2em;
}

%data-reading-tiny {
  fill: $unfill-color;

  .dot:nth-of-type(1) {
    fill: $fill-color;
  }
}

%data-reading-short {
  @extend %data-reading-tiny;

  .dot:nth-of-type(2) {
    fill: $fill-color;
  }
}

%data-reading-medium {
  @extend %data-reading-short;

  .dot:nth-of-type(3) {
    fill: $fill-color;
  }
}


@include style-reading-time("tiny", 1);
@include style-reading-time("short", 2, 3);
@include style-reading-time("medium", 4, 7);
