%button {
  @include button-with-color($blue);
  -webkit-font-smoothing: antialiased;
  background: $base-button-color;
  border-radius: $base-border-radius;
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  font-size: $base-font-size;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  outline: none;
  padding: .8em 1em .6em;
  text-align: center;
  text-decoration: none;

  &:hover {
    color: #FFF;
    text-decoration: none;

    .icon-path {
      fill: #FFF;
    }
  }
}

%orange-button {
  @extend %button;
  @include button-with-color($red-casablanca);
}
