%button {
  -webkit-font-smoothing: antialiased;
  background: $base-button-color;
  border-radius: $base-border-radius;
  border: 1px solid $blue;
  color: $blue;
  display: inline-block;
  font-size: $base-font-size;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  outline: none;
  padding: .8em 1em .6em;
  text-align: center;
  text-decoration: none;

  &:hover {
    background: $blue;
    color: white;
  }

  &:focus {
    box-shadow: $form-box-shadow;
  }
}
