%narrow-container {
  @include outer-container;
  max-width: rem($content-width);

  @include media(new-breakpoint(max-width rem($content-width))) {
    padding: 1rem;
  }
}

%very-narrow-container {
  @extend %narrow-container;
  max-width: rem(400);
}
