html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.main-content-box {
  $padding: 5rem;
  padding-bottom: $padding / 2;
  padding-top: $padding / 2;

  @include media-width(from, $container-width) {
    padding-bottom: $padding;
    padding-top: $padding;
  }
}

.browser-upgrade {
  background-color: $pitch-black;
  color: $white;
  font-size: 0.9rem;
  padding: 1rem;
  text-align: center;
}

