%container {
  margin: 0 auto;
  max-width: $container-width;
  padding-left: $container-padding;
  padding-right: $container-padding;

  @include media-width(from, $container-breakpoint) {
    padding-left: 0;
    padding-right: 0;
  }
}
