%skewed {
  &:before {
    content: "";
    display: block;
    height: $skewed-pseudo-height;
    left: 0;
    position: absolute;
    transform: skew($skew-degree * -1);
    width: 100%;
    z-index: -1;
  }
}

%button {
  @extend %skewed;
  color: $link-color;
  padding: 0 1em;
  position: relative;
  text-align: center;
  text-decoration: none;

  &::before {
    background-color: $white;
    border-radius: $border-radius;
    box-shadow: inset 0 0 0 1px $link-color;
    height: $skewed-pseudo-height * 4/3;
    top: $skewed-pseudo-height * -1/6;
    transition: all 0.1s;
  }

  &:hover {
    color: $white;

    &::before {
      background-color: $link-hover-color;
      box-shadow: inset 0 0 0 1px $link-hover-color;
    }
  }

  &:active {
    color: $white;

    &::before {
      background-color: $link-active-color;
      box-shadow: inset 0 0 0 1px $link-active-color;
    }
  }
}

%container {
  margin: 0 auto;
  max-width: $container-width;
  padding-left: $container-padding;
  padding-right: $container-padding;
  position: relative;

  @include media-width(from, $container-breakpoint) {
    padding-left: 0;
    padding-right: 0;
  }
}
