$gap: 0.777em;

.main-header {
  margin-bottom: 3rem;

  &::after {
    background-image: linear-gradient(35deg, $casablanca, $red-orange);
    content: "";
    display: block;
    height: 8px;
    position: relative;
  }
}

.header-content {
  display: flex;
  font-size: 0.9em;
  padding: 1.5rem 0 1rem;

  @include media-width(from, $container-width) {
    padding: 3rem 0 2.5rem;
  }

  .logo {
    flex-shrink: 0;
  }

  .intro {
    align-items: center;
    display: flex;
    flex-grow: 1;
    padding-left: 1.5em;
  }

  .link {
    text-decoration: none;
  }
}

.intro-content {
  margin-top: -0.5rem;
  text-rendering: optimizeLegibility;
}

.main-heading {
  color: $black;
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 1.4;
  margin: 0;
  transition: color 0.2s linear;

  &:hover {
    color: $link-color;
  }
}

.main-description {
  color: $gray;
  font-style: italic;
  font-weight: 300;
  margin: 0;
}

.logo-image {
  border-radius: 50%;
  width: 6em;

  &:hover {
    @extend %pulsate;
  }
}
