$gap: 0.777em;

.main-header {
  padding: 2rem 0;

  @include media-width(from, $container-breakpoint) {
    padding-bottom: 3rem;
  }
}

.logotype-heading {
  margin-bottom: 0;
}

.logotype-link {
  font-weight: 100;
  letter-spacing: -0.04em;
}

.logomark {
  max-width: 3em;
}

.headline {
  color: $gray;
  font-size: 1em;
  font-weight: 200;
  margin-top: 0.5em;

  a {
    color: $black;
    font-weight: 400;
  }
}
