$gap: 0.777em;

.main-header {
  margin-bottom: 2rem;
}

.main-nav {
  background-image: linear-gradient(35deg, $casablanca, $red-orange);
  padding: 0.8rem 0;

  .link-item {
    display: inline-block;
    list-style: none;
    margin-right: 1rem;
  }

  a {
    background-color: rgba($white, 0.2);
    border-radius: 3px;
    color: $white;
    font-weight: 400;
    padding: 0.2rem 1rem;
    text-decoration: none;
    transition: all 0.1s linear;

    &:hover,
    &.active {
      color: mix($casablanca, $red-orange);
    }

    &.active {
      background-color: $white;
    }

    &:hover {
      background-color: rgba($white, 0.6);
    }
  }
}

.header-content {
  display: flex;
  font-size: 0.9em;
  padding: 1.5rem 0 1rem;

  @include media-width(from, $container-width) {
    padding: 3rem 0 2.5rem;
  }

  .logo {
    flex-shrink: 0;
  }

  .intro {
    align-items: center;
    display: flex;
    flex-grow: 1;
    padding-left: 1.5em;
  }

  .link {
    text-decoration: none;
  }
}

.intro-content {
  margin-top: -0.5rem;
  text-rendering: optimizeLegibility;
}

.main-heading {
  color: $black;
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 1.4;
  margin: 0;
  transition: color 0.2s linear;

  &:hover {
    color: $link-color;
  }
}

.main-description {
  color: $gray;
  font-style: italic;
  font-weight: 300;
  margin: 0;
}

.logo-image {
  border-radius: 50%;
  width: 6em;

  &:hover {
    @extend %pulsate;
  }
}
