$code-background-color: #343642;

.highlight {
  background-color: $background-color;
  border-radius: 0.3em;
  color: #c1c2c3;
  display: block;
  padding: 1em;
  transition: all 0.1s;
  white-space: pre;
  word-wrap: normal;

  &:hover {
    background-color: $code-background-color;
  }

  code {
    background-color: transparent;
    padding: 0;
  }

  .hll {
    background-color: #ffc;
  }

  .c, // Comment
  .c1, // Comment.Single
  .cm, // Comment.Multiline
  .cp, // Comment.Preproc
  .cs, // Comment.Special
  .gp, // Generic.Prompt
  .sd { // Literal.String.Doc
    color: rgba(lighten($code-background-color, 50%), 0.5);
  }

  .k, // Keyword
  .kc, // Keyword.Constant
  .kd, // Keyword.Declaration
  .kp, // Keyword.Pseudo
  .kr { // Keyword.Reserved
    color: #bb89dd;
  }

  .kt, // Keyword.Type
  .nc, // Name.Class
  .nn { // Name.Namespace
    color: #e9a94b;
  }

  .err, // Error
  .gd, // Generic.Deleted
  .ne, // Name.Exception
  .no, // Name.Constant
  .nv, // Name.Variable
  .vc, // Name.Variable.Class
  .vg, // Name.Variable.Global
  .vi { // Name.Variable.Instance
    color: #ff6166;
  }

  .na, // Name.Attribute
  .nf, // Name.Function
  .nx { // Name.Other
    color: #729fcf;
  }

  .gu, // Generic.Subheading
  .kn, // Keyword.Namespace
  .nd, // Name.Decorator
  .nt, // Name.Tag
  .o, // Operator
  .ow { // Operator.Word
    color: #e9a94b;
  }

  .il, // Literal.Number.Integer.Long
  .l,
  .m, // Literal.Number
  .mf, // Literal.Number.Float
  .mh, // Literal.Number.Hex
  .mi, // Literal.Number.Integer
  .mo, // Literal.Number.Oct
  .se, // Literal.String.Escape
  .si { // Literal.String.Interpol
    color: #e9a94b;
  }

  .bp, // Name.Builtin.Pseudo
  .gh, // Generic.Heading
  .n, // Name
  .nb, // Name.Builtin
  .ni, // Name.Entity
  .nl,
  .p,
  .py,
  .sc, // Literal.String.Char
  .w {
    color: lighten($code-background-color, 45%);
  }

  .gi, // Generic.Inserte
  .ld,
  .s,
  .s1, // Literal.String.Single
  .s2, // Literal.String.Double
  .sb, // Literal.String.Backtick
  .sh, // Literal.String.Heredoc
  .sr, // Literal.String.Regex
  .ss, // Literal.String.Symbol
  .sx { // Literal.String.Other
    color: #04c69e;
  }
}
