// Global
$border-radius: 4px;

// Container
$container-width: 40rem;
$container-padding: 1rem;
$container-breakpoint: $container-width + ($container-padding * 2);

// Skew
$skew-degree: 8deg;
$skewed-pseudo-height: 1.45em;

// Color Names
$ash: #FCFCFC;
$black: #555;
$gray: #B0B0B0;
$mauve: #7760C3;
$white: #FFF;

$lochmara: #0093C8;
$turquoise: #0CE0B1;
$emerald: #44C55F;
$casablanca: #FAAD4C;
$red-orange: #FC3A32;

// Colors
$accent-color: mix($lochmara, $turquoise);
$ashtray: adjust-hue($accent-color, -50deg);
$link-active-color: darken($accent-color, 40%);
$link-color: $accent-color;
$link-hover-color: $accent-color;
$link-visited-color: darken($accent-color, 20%);
$tertiary-color: darken($ash, 5%);
$background-color: rgba(#000, 0.02);
$header-background-color: #033443;

// Fonts
$sans-serif: "Fira-Sans", "Helvetica Neue", "Arial", sans-serif;
$serif: "Georgia", serif;
$monospace: "Fira-Mono", "Consolas", "Courier", "monospace";
