<header class="main-header">
  <section class="header-content" data-role="container">
    <div class="logo">
      <a href="/" class="link">
        <img src="/images/logo.png" alt="Swiftbits logo" class="logo-image" />
      </a>
    </div>
    <div class="intro">
      <div class="intro-content">
        <a href="/" class="link">
          <span class="main-heading">Swiftbits</span>
        </a>
        <p class="main-description">Swift recipes, snippets, and resources by <a href="https://redalemeden.com">Reda Lemeden</a>.</p>
      </div>
    </div>
  </section>
  <nav class="main-nav">
    <ul class="link-list" data-role="container">
      <li class="link-item">
        <a href="/" {% if page.active == "home" %}class="active"{% endif %}>Home</a>
      </li>
      <li class="link-item">
        <a href="/basics" {% if page.active == "basics" %}class="active"{% endif %}>Basics</a>
      </li>
      <li class="link-item">
        <a href="/resources" {% if page.active == "resources" %}class="active"{% endif %}>Resources</a>
      </li>
      <li class="link-item">
        <a href="/recipes" {% if page.active == "recipes" %}class="active"{% endif %}>Recipes</a>
      </li>
      <li class="link-item-icon">
        <a href="{{ site.feed }}" class="icon">
          <img src="/images/rss.svg" alt="RSS Feed" class="link-icon" />
        </a>
      </li>
    </ul>
  </nav>
</header>
