<%= partial "intro" %>

<section class="articles">
  <% blog.articles.reverse.each do |article| %>
    <div class="article-container">
      <%= partial "article_body", locals: { article: article } %>
    </div>
  <% end %>

  <aside class="stay-updated">
    <span class="to-be-continued">
      To be continued...
    </span>

    <%= partial "social" %>
  </aside>
</section>
