---
title: 'Home'
---

<section class="articles" data-role="content">
  <% page_articles.each do |article| %>
    <%= partial "article_body", locals: { article: article } %>
  <% end %>

  <aside>
    To be continued...
  </aside>
</section>
