---
title: 'Home'
---

<%= partial "intro" %>

<section class="articles" data-role="content">
  <% blog.articles.reverse.each do |article| %>
    <%= partial "article_body", locals: { article: article } %>
  <% end %>

  <aside class="stay-updated">
    <span class="to-be-continued">
      To be continued...
    </span>

    <%= partial "social" %>
  </aside>
</section>
