---
title: 'Home'
---

<section class="articles" data-role="content">
  <% page_articles.each do |article| %>
    <%= partial "article_body", locals: { article: article } %>
  <% end %>

  <aside class="stay-updated">
    <span class="to-be-continued">
      To be continued...
    </span>

    <section class="choose-method">
      <%= partial "social/subscribe_button" %>
      <%= partial "social/rss_link" %>
    </section>
  </aside>
</section>

<%= partial 'subscription_modal' %>
